.list:hover{
    transform: scale(1.01);
    background-color: rgb(247, 247, 247);
}
@media (max-width: 480px) {
    .btn {
      padding:2px 4px !important;
      font-size:60% !important;;
      line-height: 1;
      margin-right: 3px !important;
      display: flex;
      justify-content: end;
      height: 20px;
    }
  }
